.homePrez{
    position: relative;
    text-align: center;
    color: #EAE9E8;
    margin: 2.5%;
}

.homePrez h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
