.projets{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.projets img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.portfolioWarpper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.projets img:hover{
    filter: blur(3px);
    transition: 200ms;
}
.projets p{
    text-align: center;
    font-size: 20px;
}

