*{
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: justify;
  box-sizing: border-box;
}

body{
  background: #dad6d6;
}

p{
  font-size: 1em;
  line-height: 1.5em;
}

a{ 
  text-decoration: none;
  color: #000000;
}
li{
  list-style-type: none;
}


.mainMenu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  display: flex;
}

.mainMenu li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mainMenu li a:hover:not(.active) {
  background-color: #F4BCEE;
}

.mainMenu li a.active {
  color: white;
  background-color: #EF6DE2;
}

section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #F2CFEE;
  background-color: #ffffff;
}

section h2{
  margin: 20px 0;
  width: 90%;
  text-align: center;
}

section > div{
  width: 90%;
}

.lang{
  flex-flow: column;
}

.lang progress{
  display: flex;
  width: auto;
  height: 40px;
}

.lang h3{
  margin: 7px 10px;
  display: flex;
  justify-content: center;
}

h2{
  font-size: 45px;
}

.social-footer {
  padding: 1rem;
  background: #8a8a8a;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #fefefe;
}

.social-footer .social-footer-icons .fa:hover {
  color: #4a4a4a;
  transition: color 0.3s ease-in;
}
