*{
  font-family: 'Roboto', sans-serif;
  padding: 0px;
  margin: 0px;
  text-align: justify;
  box-sizing: border-box;
}

body{
  background: #ececec;
}

p{
  font-size: 1em;
  line-height: 1.5em;
}

a{ 
  text-decoration: none;
  color: #000000;
}
li{
  list-style-type: none;
}


.mainMenu {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  display: flex;
}

.mainMenu li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mainMenu li a:hover:not(.active) {
  background-color: #F4BCEE;
}

.mainMenu li a.active {
  color: white;
  background-color: #EF6DE2;
}

section{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #F2CFEE;
  background-color: #ffffff;
}

section h2{
  margin: 20px 0;
  width: 90%;
}

section > div{
  width: 90%;
}

.presentation{
  border-bottom: 2px dashed #ccc;
}

.exp{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.expLogo{
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.expDesc{
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.hobbiesWrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


.hobbies{
  flex: 0 1 50%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 50%;
  flex-direction: column;
}

.hobbies img{
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 50%; 
  box-shadow: 0pc 0px 15px #555;
  transition: 200ms;
}

.hobbies img:hover{
  transform: scale(1.2);
  transition: 300ms;
}


.hobbies p{
  font-size: 20px;
  margin: 10px 0px ;
}

.lang{
  flex-flow: column;
}

.lang progress{
  display: flex;
  width: auto;
  height: 40px;
}

.lang h3{
  margin: 7px 10px;
  display: flex;
  justify-content: center;
}

.cantauImage{
  flex: 0 1 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  flex-direction: row;
}

.cantauImage div {
  text-align: center;
  margin: 15px;
}

.cantauImage img{
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 50%;
}

.cantauImage img:hover{
  transform: scale(1.2);
  transition: 300ms;
}

.cantauChateau{
  flex: 0 1 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  flex-direction: row;
}

.cantauChateau div {
  text-align: center;
  margin: 15px;
}

.cantauChateau img{
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 50%;
}

.cantauChateau img:hover{
  transform: scale(1.2);
  transition: 300ms;
